* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

h1 {
color: tomato;
font-size: 50px;
font-weight: bolder;

text-decoration: double underline;
text-decoration-color: black;

}

.grid {
  display: flex;
  flex-direction: row;
  border: 5px solid red;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
 
  
}

#buttons, input {
  display: flex;
  flex-direction: row;
  

}
button, input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 5px;
  margin:10px 40px;
}

.cell {
  width: 5%;
  height: 5%;
  background-color: green;
  border: 1px solid lightgray;
}



.snakeHead {

  background-color: orange;
}

.snakeTail{

background-color: black;

}
.food {
  background-image: url("https://images.wsj.net/im-13609?width=1280&size=1");
  background-size: cover;
 
}


